# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
.venv/
venv/
env/

# PyInstaller
build/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

